.heading {
   font-size: 25px;
   width: 100%;
   margin: 0px;
   box-shadow: 5px 5px 5px gray;
}

.note {
    color: black;
    font-size: 17px;
}

.copy_right_footer {
    position: fixed ;
    bottom: 0;
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    text-align: center;
    line-height: 2;
    background-color: cornflowerblue;
}
canvas {
    border: 3px solid crimson;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 10px dimgray ;
}